!!!
%html
  %head
    %title 
      PredictIt | 
      = yield :title
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Predictit
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "libs", "data-turbo-track": "reload"
    = stylesheet_link_tag "theme", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = yield :css
  %body
    .container-scroller
      = render "application/navbar"
      .container-fluid.page-body-wrapper
        = render "application/settings_panel"
        = render "application/sidebar"
        .main-panel
          = yield
          = render "application/footer"
        / main-panel ends
      / page-body-wrapper ends
    / container-scroller
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = yield :javascripts